
  <% if @spending.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spending.errors.count, "error") %> prohibited this spending from being saved:</h2>

      <ul>
      <% @spending.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= simple_form_for @spending, :html => { :class => 'form-horizontal' , :id => 'form-lessons'} do |f| %>

  <div class="label-tag">
    <%= f.label :name, "Nombre" %>
  </div>
  <div class="field">
    <%= f.text_field :name, class:'form-control'%>
  </div>

  <div class="label-tag">
    <%= f.label :descrption, "Descripcion" %>
  </div>
  <div class="field">
     <%= f.text_field :descrption, class:'form-control'%>
  </div>

  <div class="label-tag">
    <%= f.label :date, "Fecha" %>
  </div>
  <div class="field">
    <%= f.date_select :date, class:'form-control'%>
  </div>

  <div class="label-tag">
    <%= f.label :amount, "Monto" %>
  </div>
  <div class="field">
     <%= f.number_field :amount, class:'form-control'%>
  </div>

  <div class="label-tag">
    <%= f.label :planned, "Planeado" %>
  </div>
  <div class="field">
     <%= f.input :planned, class:'form-control' %>
  </div>

     <%= hidden_field_tag(:id_category, params[:id_category]) %>
     <div class="button-box">
         <%= f.button :submit, "Guardar", class:'button', id:'submit'%>
       </div>

  <% end %>
