<p id="notice"><%= notice %></p>

<div class="user-box">
  <div class="profile-pic-box">
    <div>
      <%= gravatar_for @user %>
    </div>
  </div>
  <div class="user-data-box">
    <p class="tag">
      Nombre:
    </p>
    <p class="tag">
      Email:
    </p>
    <p class="tag">
      Fecha de Nacimiento:
    </p>
    <p class="tag">
      Presupuesto:
    </p>
    <p class="tag">
      Total gastado:
    </p>
    <p class="tag">
      Balance:
    </p>
  </div>

  <div class="user-data-box-2">
    <p class="tag-2">
      <%= @user.name %>
    </p>


    <p class="tag-2">
      <%= @user.email %>
    </p>


    <p class="tag-2">
      <%= @user.date_birth %>
    </p>


    <p class="tag-2">
      <%= @user.budget %>
    </p>


    <p class="tag-2">
      <%= user_total_spent_for @user %>
    </p>


    <p class="tag-2">
      <%= user_balance_for @user %>
    </p>
  </div>
</div>


<h1>Principales gastos</h1>



<%= link_to 'Edit', edit_user_path(@user) %> |
