  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= simple_form_for @category, :html => { :class => 'form-horizontal' , :id => 'form-lessons'} do |f| %>

  <div class="label-tag">
    <%= f.label :name, "Nombre" %>
  </div>
  <div class="field">
     <%= f.text_field :name, class:'form-control' %>
  </div>

  <div class="label-tag">
    <%= f.label :description, "Descripcion" %>
  </div>
  <div class="field">
     <%= f.text_field :description, class:'form-control'%>
  </div>

  <div class="label-tag">
    <%= f.label :budget, "Presupuesto" %>
  </div>
  <div class="field">
     <%= f.number_field :budget, class:'form-control' %>
  </div>

     <%= hidden_field_tag(:id_plan, params[:id_plan]) %>

    <div class="button-box">
      <%= f.button :submit, "Guardar", class:'button', id:'submit'%>
    </div>

  <% end %>
