<p id="notice"><%= notice %></p>
<div class="detalles-plans">
  <p>
    <strong>Categoria:</strong>
    <%= @category.name %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= @category.description %>
  </p>

  <p>
    <strong>Presupuesto:</strong>
    <%= @category.budget %>
  </p>

  <p>
    <strong>Total gastado:</strong>
    <%= category_total_spent_for @category %>
  </p>

  <p>
    <strong>Balance categoria:</strong>
    <%= category_balance_for @category %>
  </p>

  <p>
    <strong>Gastos no planificados:</strong>
    <%= not_planned_spendings_for @category %>
  </p>


</div>

<h1>Gastos de la Categoria  <%= @category.name %></h1>

<div class="current-plans">
  <% @spendings.each do |spending|%>
    <div class="button-container">
    <%= link_to spending.name, spending, class:'button-plan'%>
      <div class="button-container-content">
      <div><%= spending.amount %></div>
      </div>
      </div>
    <%end%>
  <div class="button-container">
    <%= link_to "+", new_spending_path(id_category: @category.id), class:'button-plan', id:'mas' %>
  </div>

</div>






<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', @plan %>
