<p id="notice"><%= notice %></p>


<div class="detalles-plans">
<p>
  Presupuesto: <%= current_user.budget %>
</p>

<p>
  Total gastado: <%= user_total_spent_for current_user %>
</p>

<p>
  Balance: <%= user_balance_for current_user %>
</p>

</div>

<h1>Planes para <%= current_user.name %></h1>

<div class="current-plans">
  <% @plans.each do |plan|%>
    <div class="button-container">
    <%= link_to plan.name, plan, class:'button-plan'%>
      <div class="button-container-content">
        <%plan.categories.each do |cat| %>
      <div><%= link_to cat.name, cat%></div>
        <%end%>
      <div><%= plan_balance_for plan %></div>
      </div>
      </div>
    <%end%>
  <div class="button-container">
    <%= link_to "+", new_plan_path(id_user: current_user.id), class:'button-plan', id:'mas' %>
  </div>

</div>




<%= link_to 'Back', current_user %>
