<p id="notice"><%= notice %></p>
<div class="detalles-plans">
  <p>
    <strong>Nombre:</strong>
    <%= @plan.name %>
  </p>


  <p>
    <strong>Fecha de inicio:</strong>
    <%= @plan.start_date %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= @plan.description %>
  </p>
  <p>
    Presupuesto: <%= @plan.budget %>
  </p>

  <p>
    Total gastado: <%= plan_total_spent_for @plan%>
  </p>

  <p>
    Balance: <%= plan_balance_for @plan %>
  </p>

</div>

<h1>Categorias del plan  <%= @plan.name %></h1>

<div class="current-plans">
  <% @categories.each do |category|%>
    <div class="button-container">
    <%= link_to category.name, category, class:'button-plan'%>
      <div class="button-container-content">
        <%category.spendings.each do |spend| %>
      <div><%= link_to spend.name, spend%></div>
        <%end%>
      <div><%= category_balance_for category %></div>
      </div>
      </div>
    <%end%>
  <div class="button-container">
    <%= link_to "+", new_category_path(id_plan: @plan.id), class:'button-plan', id:'mas' %>
  </div>

</div>



<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
