
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= simple_form_for @report, :html => { :class => 'form-horizontal' , :id => 'form-lessons'} do |f| %>
    <div class="field">
      <%= f.input :name %><br>
    </div>
    <%= hidden_field_tag(:id_user, params[:id_user]) %>
    <div class="actions">
      <%= f.button :submit, "Guardar" %>
    </div>
  <%end%>
