<!DOCTYPE html>
<html>
<head>
  <title>Vbit App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>

    <div id="logo">
      <img src="http://i.imgur.com/ycpFeIB.jpg">
    </div>
    <nav class="layout-format">

        <% if logged_in? %>
            <%=link_to "VBIT", current_user, class:"font-style"%>

            <%=link_to "Planes", plans_path, class:"font-style"%>

            <%=link_to "Reportes" , reports_path,  class:"font-style"%>

            <%=link_to "Cerrar sesión", logout_path, class:"font-style", method: "delete"%>

            <%=link_to "Perfil", current_user, class:"font-style"%>

        <%else%>

          <%=link_to "VBIT", login_path, class:"font-style"%>

          <%=link_to "Registrarse", new_user_path, class:"font-style"%>

          <%=link_to "¿Quienes somos?", current_user, class:"font-style"%>

          <%=link_to "Contacto", logout_path, class:"font-style", method: "delete"%>

        <%end%>




    </nav>

</header>
<%= yield %>

</body>
</html>
